html {
    background-color: hsla(248, 39%, 39%, 1);
}
body {
    background-color: white;
    color: hsla(0, 0%, 0%, 1); /* Ensure semicolon is present */
    padding: 1em;
}
h1 {
    color: hsla(295, 94%, 27%, 1);
    font-family: sans-serif;
}
99



